{% extends 'MsiCmfBundle:Page:layout.html.twig' %}

{% block css %}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
<style type="text/css">
html {
    overflow-y: scroll;
}
body {
    padding-top: 60px;
}
h1, h2, h3 {
    margin-top: 0;
}
</style>
{{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('homepage') }}">{{ site.translation.brand }}</a>
                {{ knp_menu_render('AcmeDemoBundle:MenuBuilder:mainMenu', {'allow_safe_labels': true, 'depth': 3, 'currentClass': 'active'}) }}
                <ul class="pull-right nav">
                    <li><a href="{{ path('homepage', {'_locale': app.request.locale == 'fr' ? 'en' : 'fr'}) }}">{{ app.request.locale == 'fr' ? 'English' : 'Français' }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% if page.showTitle %}
    <h2>{{ page.translation.title }}</h2>
    {% endif %}
    {{ msi_block_render('content_top', page) }}
    {{ block('page_content') }}
    {{ msi_block_render('content_bottom', page) }}
    <hr>
    <div class="row">
        <div class="span6">
            <p><small class="muted">&copy; {{ 'now'|date('Y') }} {{ site.translation.brand }}</small></p>
        </div>
        <div class="span6">
            {{ msi_block_render('footer', page) }}
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
{{ parent() }}
{% endblock %}
